---
export interface Props {
	title: string;
	href: string;
}


const { href, title} = Astro.props;
---
<a href={href}>
	<button class="btn-action">{title}</button>
</a>

<style lang="scss">
	@import '../layouts/variable';

	

</style>