---
import Button from '../components/Button.jsx';
---

<header>
	<div class="top">
		<h3><small><a href={Astro.url.origin + '/realisations'}>Voir les dernières réalisations</a></small></h3>
	</div>
	<div class="container">

	<div class="navbar justify-content-center justify-content-md-between px-md-0">
		<a href={Astro.url.origin + '/'}>
			<img class="logo" src="/assets/img/logo_mini.png" alt="logo st rénov">
		</a>
		
		<nav>
			<a href={Astro.url.origin + '/'}>Accueil</a>
			<a href={Astro.url.origin + '/realisations'}>Réalisations</a>
			<!-- <a href="">About</a> -->
			<Button href={Astro.url.origin + '/contact'} title="Contact"></Button>
		</nav>
	</div>
</div>

</header>

<style lang="scss">
	@import '../layouts/variable';
	@import '../layouts/mixin';

	header {
		.top {
			background-color: $orange;
			padding: 0.3rem;
			text-align: center;
			font-family: $font-family-sans;
			a {
				color: white;
				font-size: 1.2rem;
			}
		}
		
		.navbar {
			@include media-min (md) {
				height: 100px;
			}
			padding: 1rem;
			a {
				text-decoration: none;
			}
			a:has(.logo){
				height: 100%;
			}
			.logo {
				width: 200px;
				height: 100%;
				@include media-min (md) {
					width: 100%;
				}

			}
			nav {
				display: flex;
				gap: 1.5rem;
				font-size: 1.2rem;
				align-items: center;
				justify-content: space-between;
				font-family: $font-family-sans;
				margin-top: 1.5rem;
				@include media-min (md) {
					margin-top: 0;
				}
				a {
					color: $brown;
					text-decoration: none;
					opacity: 0.72;
					&:has(button) {
						opacity: 1;
					}
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
</style>
