---
import 'bootstrap/dist/css/bootstrap.min.css';

export interface Props {
	title: string
	desc: string
}

const { title, desc } = Astro.props;

---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		{ desc && <meta name="description" content={desc} /> }
		<title>{title}</title>
		<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
	</head>
	<body>
		<slot />
	</body>
</html>


<style lang="scss" is:global>
	@import 'variable';
	h2 {
		font-family: $font-family-serif;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	body {
		background-color: #fffffe;
		font-family: $font-family-sans;
		color: $brown;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	.btn-action {
		background-color: $orange;
		border: none;
		padding: 0.4rem 1rem;
		border-radius: 10px;
		color: white;
		font-family: $font-family-sans;
		font-size: 1.2rem;
		transition: all 0.2s;
	}

	.btn-action:hover {
		background-color: transparent;
		outline: 1px solid $orange;
		color: $orange;
	}

	main {
		margin-bottom: auto;
	}

</style>